.about {
  padding: clamp(1.875rem, 0.4464rem + 7.1429vw, 6.875rem) 0;
  background: #f6f6f6;
}
.about__container {
  text-align: center;
  max-width: 485px;
}
.about__title {
  margin-bottom: 20px;
  font-weight: 700;
}
.about__text:not(:last-child) {
  margin-bottom: 40px;
}
.about__text_light {
  color: #828282;
}
